body{
    background: #ffffff;
}

#side_nav{
    background-color: #000000;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    display: flex;
    background-color: #eeeeee;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}


/*font-family: 'Poor Story', cursive;*/

hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}

.sidebar li a{
    color: #eee;
}

.sidebar li:hover, .sidebar li a:hover{
    background: violet;
    border-radius: 8px;
    color: #000000;
}



/* fin de diseño de form */
